.fa-check-circle:before, .fa-circle-check:before {
    content: "check";
    font: normal normal normal 14px/1 Material Icons;
    background-color: #0088CB;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 3px;
    box-shadow: 0 0 0 4px rgb(48 86 213 / 20%);
  }
  
  .add_broadcast{
    width: 15px;
  }