.bg-inverse-success {
    background-color: rgba(15,183,107,.12)!important;
    color: #26af48!important;
}
.bg-inverse-danger{
    background-color: rgba(216, 75, 56, 0.12)!important;
    color: #b92c2c!important;
}
.bg-inverse-warning{
    background-color: rgba(216, 200, 53, 0.12)!important;
    color: #f0d911!important;
}