.page-auth{
    .app-layout{
        padding: 0;
    }
}

.auth-wrapper{
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .fix-content{
        width: 450px;
    }
}
