.system-user-form-detail{
    .page-title{
        font-size: 20px;
        margin-bottom: 20px;
        }
        margin: auto;
        margin-top: 10px;
        width: 70%;
        height: calc(100vh - 155px);

    .bottom-button{
        margin: auto;
        }
.has-label-on-border.label-on-border-custom{

.form-group{
    label{
        padding-left: 3px;
        padding-right: 3px;
         }
        }

    }
    
}